 <footer>


    <% if (title == "Projects"){ %>
             <nav id = "b_nav" class="navbar fixed-bottom navbar-dark  text-center ">
           <% } else {%>
          <nav id = "b_nav" class="navbar fixed-bottom navbar-dark  text-center ">
          <%} %>
          
       

      <div class="container">
        <h6 class="display-6 navbar-text ">&copy; Copyright 2021 All rights reserved</h6>
      </div>
    </nav>
    <footer>
    
