 <footer>
    <% if (title == "Projects"){ %>
             <nav class="navbar navbar-dark bg-dark text-center ">
           <% } else {%>
          <nav class="navbar fixed-bottom navbar-dark bg-dark text-center ">
          <%} %>
      <div class="container">
        <h6 class="display-6 navbar-text p-3">&copy; Copyright 2020 All rights reserved</h6>
      </div>
    </nav>
    <footer>
    
